/*@import url('https://fonts.googleapis.com/css2?family=outfit:wght@400;700&display=swap');*/
:root{/*give color values*/
--clr-White: hsl(0, 0%, 100%);
--clr-Light-gray: hsl(212, 45%, 89%);
--clr-Grayish-blue: hsl(220, 15%, 55%);
--clr-Dark-blue: hsl(218, 44%, 22%);
}
html{
    font-size: 15px;
}
body{
    font-family: 'outfit',sans-serif;
    background-color: var(--clr-Light-gray);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.card{
    background-color: var(--clr-White);
    padding: 1.25rem;
    width: 320px;
    margin: 5rem auto;
    border-radius: 10px;
}
.card-img-container img{
    border-radius: 20px;
}
img{
    width: 100%;
    height: auto;
}
.card-img-container{
    margin-bottom: 1rem;
}
.card-content-container{
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
}
.card-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--clr-Dark-blue);
    /*line-height: 1.5rem;*/
}
.card-description{
    color: var(--clr-Grayish-blue);
    text-align: center;
    font-weight: 400;
}
